{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personagems list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Hpmax</th>
                <th>Hpcurrent</th>
                <th>Strength</th>
                <th>Defence</th>
                <th>Resistence</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personagem in personagems %}
            <tr>
                <td><a href="{{ path('personagem_show', { 'id': personagem.id }) }}">{{ personagem.id }}</a></td>
                <td>{{ personagem.name }}</td>
                <td>{{ personagem.level }}</td>
                <td>{{ personagem.hpmax }}</td>
                <td>{{ personagem.hpcurrent }}</td>
                <td>{{ personagem.strength }}</td>
                <td>{{ personagem.defence }}</td>
                <td>{{ personagem.resistence }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personagem_show', { 'id': personagem.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personagem_edit', { 'id': personagem.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personagem_new') }}">Create a new personagem</a>
        </li>
    </ul>
{% endblock %}
