{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personagem</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personagem.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ personagem.name }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ personagem.level }}</td>
            </tr>
            <tr>
                <th>Hpmax</th>
                <td>{{ personagem.hpmax }}</td>
            </tr>
            <tr>
                <th>Hpcurrent</th>
                <td>{{ personagem.hpcurrent }}</td>
            </tr>
            <tr>
                <th>Strength</th>
                <td>{{ personagem.strength }}</td>
            </tr>
            <tr>
                <th>Defence</th>
                <td>{{ personagem.defence }}</td>
            </tr>
            <tr>
                <th>Resistence</th>
                <td>{{ personagem.resistence }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personagem_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personagem_edit', { 'id': personagem.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
